  <table class="picture_box" >

    <% @pictures.each do |picture| %>
      <tr>

        <td>
          <div class="">

            <div class="ユーザー→インデックスへ">
            <%= link_to picture.user.name.to_s , user_index_picture_path(picture.user_id),class: 'i' %>
            <%= label "","さんの投稿です。"  %><!-- ←cssで開業しないようにしたい -->

            <%= (picture.user_id) %>
            </div>

            <div class="題名">
              <%= label "",picture.title ,class: 'i' %>

            </div>
            <div class="画像">
              <%= image_tag(picture.image.url) if picture.image && picture.image.url %>

            </div>
            <div class="本文">
              <%= text_area "","readonly", value: picture.content ,readonly: true %>

            </div>
            <div class="詳細へのボタン">
              <%= link_to "詳細を表示", picture,href: picture_path(picture.id),method: :get,class: "btn btn-default"  %>
              <%= link_to "編集する", picture ,href: edit_picture_path(picture.id) ,method: :get,class: "btn btn-default"  %>
              <%= link_to '削除する', picture, method: :delete,data: { confirm: '本当に削除してよろしいですか?' } ,
                  class: 'btn btn-default' %>

            </div>
          </div>
        </td>
      </tr>


    <% end %>

  </table>
