<!DOCTYPE html>
<html>
  <head>
    <title>FaceClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container" id="MainContainer">

    <header>
      <h1 class = "head_title">
        <%=  %>
      </h1>

    </header>

    <%= yield %>

    <footer>
      <%=  %>
    </footer>

  </div>

</html>
