<!DOCTYPE html>
<html>
  <head>
    <title>FaceClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container" id="MainContainer">

    <header>
      <h1 class = "head_title">

        <% if logged_in? %>
          <!-- ログインしている場合-->
          <%= link_to "プロフィール" ,user_path(current_user.id) ,
          class: "btn btn-default" %>
          <%= link_to "ログアウト" ,session_path(current_user.id), method: :delete ,
          class: "btn btn-default" %>


        <% else  %>
          <!-- ログインしていない場合-->
          <%= link_to "ユーザー登録" ,new_user_path ,class: "btn btn-default" %>
          <%= link_to "ログイン" ,new_session_path ,class: "btn btn-default" %>


        <% end  %>


        <!-- 失敗時などのメッセージ表示-->
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>

      </h1>

    </header>

    <p id="notice"><%= notice %></p>

    <%= yield %>

    <footer>
      <%=  %>
    </footer>

  </div>

</html>
